In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('superstore_sales.csv')

In [2]:
print(data.info())
print(data.describe())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB
None
            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000
Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [6]:
# Convert 'Ship Date' column to datetime with dayfirst=True
data['Ship Date'] = pd.to_datetime(data['Ship Date'], dayfirst=True)

# Convert 'Order Date' column (if needed)
data['Order Date'] = pd.to_datetime(data['Order Date'], dayfirst=True)

In [7]:
print(data[['Ship Date', 'Order Date']].head())

   Ship Date Order Date
0 2017-11-11 2017-11-08
1 2017-11-11 2017-11-08
2 2017-06-16 2017-06-12
3 2016-10-18 2016-10-11
4 2016-10-18 2016-10-11

In [8]:
data.to_csv('cleaned_superstore_sales.csv', index=False)

In [10]:
# بارگذاری دیتاست
df = pd.read_csv('cleaned_superstore_sales.csv')

# نمایش پنج ردیف اول دیتاست
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  2017-11-08  2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156  2017-11-08  2017-11-11    Second Class    CG-12520
2       3  CA-2017-138688  2017-06-12  2017-06-16    Second Class    DV-13045
3       4  US-2016-108966  2016-10-11  2016-10-18  Standard Class    SO-20335
4       5  US-2016-108966  2016-10-11  2016-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

In [11]:
# ساخت جدول Customers
customers_df = df[['Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region']].drop_duplicates()

# نمایش داده‌های جدول Customers
print(customers_df.head())

   Customer ID    Customer Name    Segment        Country             City  \
0     CG-12520      Claire Gute   Consumer  United States        Henderson
2     DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles
3     SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
5     BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
12    AA-10480     Andrew Allen   Consumer  United States          Concord

             State  Postal Code Region
0         Kentucky      42420.0  South
2       California      90036.0   West
3          Florida      33311.0  South
5       California      90032.0   West
12  North Carolina      28027.0  South

In [12]:
# ساخت جدول Products
products_df = df[['Product ID', 'Product Name', 'Category', 'Sub-Category']].drop_duplicates()

# نمایش داده‌های جدول Products
print(products_df.head())

        Product ID                                       Product Name  \
0  FUR-BO-10001798                  Bush Somerset Collection Bookcase
1  FUR-CH-10000454  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2  OFF-LA-10000240  Self-Adhesive Address Labels for Typewriters b...
3  FUR-TA-10000577      Bretford CR4500 Series Slim Rectangular Table
4  OFF-ST-10000760                     Eldon Fold 'N Roll Cart System

          Category Sub-Category
0        Furniture    Bookcases
1        Furniture       Chairs
2  Office Supplies       Labels
3        Furniture       Tables
4  Office Supplies      Storage

In [13]:
# ساخت جدول Orders
orders_df = df[['Order ID', 'Order Date', 'Ship Date', 'Ship Mode']].drop_duplicates()

# نمایش داده‌های جدول Orders
print(orders_df.head())

          Order ID  Order Date   Ship Date       Ship Mode
0   CA-2017-152156  2017-11-08  2017-11-11    Second Class
2   CA-2017-138688  2017-06-12  2017-06-16    Second Class
3   US-2016-108966  2016-10-11  2016-10-18  Standard Class
5   CA-2015-115812  2015-06-09  2015-06-14  Standard Class
12  CA-2018-114412  2018-04-15  2018-04-20  Standard Class

In [14]:
# ساخت جدول Sales
sales_df = df[['Order ID', 'Product ID', 'Customer ID', 'Sales']]

# نمایش داده‌های جدول Sales
print(sales_df.head())

         Order ID       Product ID Customer ID     Sales
0  CA-2017-152156  FUR-BO-10001798    CG-12520  261.9600
1  CA-2017-152156  FUR-CH-10000454    CG-12520  731.9400
2  CA-2017-138688  OFF-LA-10000240    DV-13045   14.6200
3  US-2016-108966  FUR-TA-10000577    SO-20335  957.5775
4  US-2016-108966  OFF-ST-10000760    SO-20335   22.3680

In [15]:
from sqlalchemy import create_engine

# پیکربندی اتصال به SQL Server
server = 'MAHTAB-JAVIDI'  # یا آدرس IP
database = 'SalesDataAnalysis'
username = 'sa'  # نام کاربری
password = '32888'  # پسورد

# ایجاد رشته اتصال
connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+18+for+SQL+Server'
engine = create_engine(connection_string)

# بارگذاری داده‌ها به SQL Server
customers_df.to_sql('Customers', con=engine, if_exists='replace', index=False)
products_df.to_sql('Products', con=engine, if_exists='replace', index=False)
orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False)
sales_df.to_sql('Sales', con=engine, if_exists='replace', index=False)

print("داده‌ها با موفقیت بارگذاری شدند!")

داده‌ها با موفقیت بارگذاری شدند!